.login {
    width: 500px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.7;
    background: #f1f1f1;

}

.login-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-top: 80px;
}

.login-title:hover {
    color: 000;
}

.login-title h2 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}


.username-input input {
    width: 200px;
    height: 30px;
}


.password-input input {
    width: 200px;
    height: 30px;
}

.login-text {
    padding-top: 10px;
    text-align: center;
}

.login-btn {
    width: 100%;
    padding: 5px 0;
    background-color:  #008dc2;
    color: white;
    border-radius: 5px;
    margin-top: 8px;
    border: none;
}

.google-button {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin-top: 8px;
}

.google-button:hover {
    background-color: rgb(141, 177, 177);
    border: none;
   
}